fastapi[all]
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
jinja2
python-dotenv
pydantic
pillow
requests
aiofiles
pywebpush
httpx
watchdog
graphviz
openpyxl
pypdf